node_modules
npm-debug.log
.env
.env.local
.env.*.local
logs
*.log
.git
.gitignore
.gcloudignore
.vscode
.idea
.DS_Store
*.md
firebase-debug.log
firebase-debug.*.log
.firebase
config/serviceAccountKey.json
*-firebase-adminsdk-*.json
