.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #7469B6;
  font-weight: bolder;
  margin: 0;
  display: flex;
  gap: 2px;
}

@keyframes letter {
  0% {
    font-size: 30px;
    transform: translateY(0px);
  }

  50% {
    font-size: 40px;
    transform: translateY(-10px);
  }

  100% {
    font-size: 30px;
    transform: translateY(0px);
  }
}

.letter {
  animation: letter 1s infinite;
  display: inline-block;
}

.letter1 {
  animation-delay: 0s;
}

.letter2 {
  animation-delay: 0.1s;
}

.letter3 {
  animation-delay: 0.2s;
}

.letter4 {
  animation-delay: 0.3s;
}

.letter5 {
  animation-delay: 0.4s;
}

.letter6 {
  animation-delay: 0.5s;
}

.letter7 {
  animation-delay: 0.6s;
}

.letter8 {
  animation-delay: 0.7s;
}

.letter9 {
  animation-delay: 0.8s;
}

.letter10 {
  animation-delay: 0.9s;
}
